* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: #fff;
}

main {
    padding: 2rem;
}

#jsonFileInput, #uploadBtn {
    display: inline-block;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: #333;
    color: #fff;
}

table th, table td {
    padding: 1rem;
    border: 1px solid #ccc;
}

table tbody tr:nth-child(odd) {
    background: #f4f4f4;
}
